/C++/*.exe
/C++/*.txt
# Ignore Visual Studio files
.vscode/
.vs/
bin/
obj/

# Ignore user-specific settings
*.suo
*.user
*.userprefs
*.sln.docstates

# Ignore NuGet packages
packages/

# Ignore build and log files
*.log
*.dll
*.exe

# Ignore application-specific files and folders
/appsettings.json
/appsettings.Development.json
/appsettings.Production.json
/appsettings.Secrets.json

# Ignore Windows-specific files
Thumbs.db
Desktop.ini

# Ignore backup files created by text editors or IDEs
*~